################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LittleDenham/FileContentIndex/49bb573a-bfd9-40c6-abbd-331b2cf4b5c5.vsidx
/.vs/LittleDenham/FileContentIndex/c3820f96-c6b3-4beb-ba05-722d31c47e1d.vsidx
/.vs/LittleDenham/v17/.suo
/.vs/LittleDenham/FileContentIndex/40e8edef-babb-4002-98a9-da71621c16c2.vsidx
/.vs/LittleDenham/FileContentIndex/cb309714-1735-4a74-94d5-5a8c67036d36.vsidx
/.vs/LittleDenham/FileContentIndex
