################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs
/Backup
/bin/Debug/net6.0
/LittleDenham-Code-.wsp
/UpgradeLog.htm
